<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <!--    Setter injection with map -->
    <bean id="question" class="dasturlash.uz.Question">
        <property name="id" value="1"/>
        <property name="text" value="Siz mazgimisiz?"/>
        <property name="answers">
            <map>
                <entry key="A" value="Ha"/>
                <entry key="B" value="Yo'q"/>
                <entry key="C" value="Bilmasam"/>
                <entry key="D" value="Bo'lishi mumkun"/>
                <entry key="E" value="Voy 100%"/>
            </map>
        </property>
    </bean>

</beans>